<div class="row">
    <div class="my-2 col-lg-4">
        <div class="card container" style="width: 18rem;">
        <img src={{pintura1}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">S the bulk of the card's content.</p>
        </div>
    </div>
</div>
<div class="my-2 col-lg-4">
    <div class="card container" style="width: 18rem;">
        <img src={{img1}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
<div class="my-2 col-lg-4">
    <div class="card container" style="width: 18rem;">
        <img src={{img1}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
<div class="my-2 col-lg-4">
    <div class="card container" style="width: 18rem;">
        <img src={{img1}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
<div class="my-2 col-lg-4">
    <div class="card container" style="width: 18rem;">
        <img src={{img1}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
<div class="my-2 col-lg-4">
    <div class="card container" style="width: 18rem;">
        <img src={{img1}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

<footer>
    <app-footer></app-footer>
</footer>