<div style="height: 100%; width: 100%;">
    <nav>
        <app-nav></app-nav> 
</nav>

<div class="">
    <div class="row my-2" style='margin-right: 0;'>
        <main class="text-center rounded bg-light">
            <router-outlet></router-outlet>
        </main>
        
        <!-- <main class="col-lg-8 col-md-12 text-center rounded bg-light">
            <router-outlet></router-outlet>
        </main> -->
        
        <!-- <aside class="col-lg-3 col-md-12">
            <app-aside></app-aside>
        </aside> -->
    </div>
</div>
</div>